imports:
  - { resource: vendor/drupol/php-conventions/config/php71/grumphp.yml }

parameters:
  tasks.phpstan.config: phpstan.neon
  skip_tasks:
    - twigcs
  extra_tasks:
    psalm:
      metadata:
        priority: 4000
    phpunit:
      metadata:
        priority: 3000
    infection:
      threads: 1
      test_framework: phpunit
      configuration: infection.json.dist
      min_msi: 70
      min_covered_msi: 70
      metadata:
        priority: 2000

